<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691105692423-adnh60uiu2gekfvn7if117q1t2l1qtvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691105692423-adnh60uiu2gekfvn7if117q1t2l1qtvu</string>
	<key>API_KEY</key>
	<string>AIzaSyCet38q5N61xUVG0cEo_DtYsjUE4ivaXs4</string>
	<key>GCM_SENDER_ID</key>
	<string>691105692423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.colette.app</string>
	<key>PROJECT_ID</key>
	<string>colette-e6673</string>
	<key>STORAGE_BUCKET</key>
	<string>colette-e6673.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691105692423:ios:97bb9b96fb44113adc63a2</string>
</dict>
</plist>